---
## Baseline Nodes
- name: Baseline Nodes
  include_tasks: baseline.yml
  when: inventory_hostname in groups['all']
  tags: baseline
  with_items: "{{ ip }}"

## Install prometheus node exporter
- name: Install Node Exporter
  include_tasks: nodeexporter.yml
  when: inventory_hostname in groups['all']

## Setup initial Kubernetes services
- name: Kubernetes Initial Setup
  include_tasks: clustersetup.yml
  when: inventory_hostname in groups['cluster']

## Setup loadlanacers HAPRoxy and Heartbeat services
- name: Loadbalancer Setup
  include_tasks: loadbalancersetup.yml
  when: inventory_hostname in groups['loadbalancers']
  with_items: "{{ ip }}"

## Setup worker Heartbeat services
- name: Worker Heartbeat Setup
  include_tasks: workerheartbeat.yml
  when: inventory_hostname in groups['workers']
  with_items: "{{ ip }}"

## Kube init on Master1 and export required files to join workers
- name: Master1 Setup
  include_tasks: master1setup.yml
  when: inventory_hostname == 'master1'

## Kubeadm join for worker nodes
- name: Worker Node Setup
  include_tasks: workersetup.yml
  when: inventory_hostname in groups['workers']

## Kube init on Master2
- name: Master2 Setup
  include_tasks: master2setup.yml
  when: inventory_hostname == 'master2'
